[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

backend/node_modules/                                                                         
backend/.env                                                                                  
backend/.env.*                                                                                
backend/npm-debug.log*                                                                        
backend/yarn-debug.log*                                                                       
backend/yarn-error.log*                                                                       
backend/pnpm-debug.log*                                                                       
backend/.DS_Store 